<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改类</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript">
    $(function (){
      var id=$("#id").val();
      $.ajax({
        url:"http://localhost:8080/commodity/getCommodityById?id="+id,
        dataType:"json",
        type:"get",
        success:function (res){
          var data = res.data;
          $("#id").val(data.id);
          $("#commodity_name").val(data.commodity_name);
          $("#commodity_price").val(data.commodity_price);
          $("#img").attr("src", data.commodity_img);
          $("#file1").val(data.commodity_img);
          $(".commodity_status").map(function (){
            if (this.value == data.commodity_status){
              this.checked = true;
            }
          })
          $("#commodity_num").val(data.commodity_num);
        },
        error:function (ref){

        }
      })
    })
  </script>-->
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
      <form role="form" action="http://localhost:8080/class/upd" method="post" style="margin-top: 10%">
        <input type="text" name="id" id="id" hidden="hidden" th:value="${id}">
        <div class="form-group">
          <label>类名</label><input type="text" name="class_name" class="form-control" id="class_name"/>
        </div>
        <button type="submit" class="btn btn-default btn-primary">修改</button>
      </form>
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
</div>
</body>
</html>