<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "http://localhost:8080/commodity/commodityList",
                dataType: "json",
                type: "get",
                success: function (res) {
                    var data = res.data;
                    for (var i = 0; i < data.length; i++) {
                        $("table").append("<tr>" +
                            "<td>" + data[i].commodity_name + "</td>" +
                            "<td>" + data[i].class_name + "</td>" +
                            "<td>" + data[i].commodity_price + "</td>" +
                            "<td>" +
                            "<img height='50px' width='auto' src=" + data[i].commodity_img + "></img>" +
                            "</td>" +
                            "<td>" + data[i].commodity_status + "</td>" +
                            "<td>" + data[i].commodity_num + "</td>" +
                            "<td>" +
                            "<button style='width: 50%' onclick='upd(" + data[i].id + ")' class='btn btn-success btn-default'>修改</button>" +
                            "<button style='width: 50%' onclick='del(" + data[i].id + ")' class='btn btn-default btn-danger'>删除</button>" +
                            "</td>" +
                            "<td>"+
                            "<input type='checkbox'  name='email' id='delete_id' src="+data[i].id+">"+
                            "</td>"+
                            "</tr>")
                    }
                },
                error: function (ref) {

                }
            })
        })

        function add() {
            location.href = "http://localhost:8080/commodity/commodity_toAdd"
        }

        function upd(id) {
            location.href = "http://localhost:8080/commodity/commodity_toUpd?id=" + id;
        }

        function del(id) {
            location.href = "http://localhost:8080/commodity/commodity_del?id=" + id;
        }

        function filterStatus() {
            var status = $("#statusFilter").val();
            $("table tbody tr").each(function () {
                var rowStatus = $(this).find("td:eq(4)").text();
                if (status === "all" || rowStatus === status) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
</head>
<body background="/img/background.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
<div id="background" style="position: absolute; z-index: -2">
    <canvas id="canvas"></canvas>
</div>

<script>
    // 设置div背景的宽高
    background = document.getElementById("background")
    background.style.width = innerWidth + 'px'
    background.style.height = innerHeight + 'px'

    // 获取canvas对象
    var canvas = document.getElementById("canvas")
    // 获取画笔
    var ctx = canvas.getContext("2d")

    // 设置canvas宽高
    canvas.height = innerHeight
    canvas.width = innerWidth

    // 定义一个粒子数组
    var particlesArray = []
    // 定义页面内粒子的数量
    var count = parseInt(canvas.width / 80 * canvas.height / 80)


    // 定义粒子类
    class Particle {
        constructor(x, y) {
            this.x = x
            this.y = y
            // x，y轴的移动速度  -0.5 -- 0.5
            this.directionX = Math.random() - 0.5
            this.directionY = Math.random() - 0.5
        }

        // 更新点的坐标
        update() {
            this.x += this.directionX
            this.y += this.directionY
        }

        // 绘制粒子
        draw() {
            ctx.beginPath()
            ctx.arc(this.x, this.y, 2, 0, Math.PI * 2)
            ctx.closePath()
            ctx.fillStyle = "white"
            ctx.fill()
        }
    }

    // 创建粒子
    function createParticle() {
        // 生成一个点的随机坐标
        var x = Math.random() * innerWidth
        var y = Math.random() * innerHeight

        particlesArray.push(new Particle(x, y))
    }

    // 处理粒子
    // 先更新坐标，再绘制出来
    function handleParticle() {
        for(var i = 0; i < particlesArray.length; i++) {
            var particle = particlesArray[i]
            particle.update()
            particle.draw()
            // 超出范围就将这个粒子删除
            if(particle.x < 0 || particle.x > canvas.width || particle.y < 0 || particle.y > canvas.height) {
                particlesArray.splice(i, 1)
            }

            // 绘制两个点之间的连线
            for(var j = i + 1; j < particlesArray.length; j++) {
                dx = particlesArray[j].x - particlesArray[i].x
                dy = particlesArray[j].y - particlesArray[i].y
                dist = Math.sqrt(Math.pow(dx, 2) + Math.pow(dy, 2))
                if(dist < 100) {
                    ctx.beginPath()
                    ctx.strokeStyle = "rgba(255, 255, 255, " + (1 - dist / 100)
                    ctx.moveTo(particlesArray[i].x, particlesArray[i].y)
                    ctx.lineTo(particlesArray[j].x, particlesArray[j].y)
                    ctx.closePath()
                    ctx.lineWidth = 1
                    ctx.stroke()
                }
            }
        }
    }

    function draw() {
        // 首先清空画布
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        // 如果粒子数量小于规定数量，就生成新的粒子
        if(particlesArray.length < count) {
            createParticle()
        }

        // 处理粒子
        handleParticle()
    }

    // 设置定时器
    setInterval(draw, 10)

</script>
<SCRIPT>
    //  全选按钮和删除选中按钮功能
    /* 全选框全选和取消全选 */
    function selBtn(flag){

        if(flag>1){
            //大于0反选，等于自己本身选择状态取反
            let emails = document.getElementsByName("email");

            for (let email of emails) {

            }
        }else{
            //为0和1时直接赋给状态，js中0为false，除0外都为true
            let emails = document.getElementsByName("email");
            for (let email of emails) {
                email.checked = flag;
            }
            let sels = document.getElementsByName("selAll");
            for (let selAll of sels) {
                selAll.checked = flag;
            }
        }
    }
    function delSel(){
        var delUrl ="http://localhost:8080/commodity/delsel?ids=";
        var ids ="";
        //拿到要删除所有id  $(".single_check:checked")表示选中框被选中的框
        $("#delete_id:checked").each(function(){
            //取出我们自定义的id    $(this)表示这全部选中的一个选中框
            ids=ids+$(this).attr("src")+",";
        });
        ids = ids.substring(0,ids.length-1);
        delUrl +=ids;
        location.href  = delUrl ;
    }

</SCRIPT>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button onclick="add()" type="button" class="btn btn-block btn-lg btn-info" style="margin-top: 10%">
                新增
            </button>
            <button type="button" onclick="selBtn(1)">全选</button>
            <button type="button" onclick="selBtn(0)">取消全选</button>
            <button type="button" onclick="delSel()">删除所选行</button>
            <div class="form-group">
                <label for="statusFilter">筛选状态：</label>
                <select id="statusFilter" class="form-control" onchange="filterStatus()">
                    <option value="all">全部</option>
                    <option value="已上架">已上架</option>
                    <option value="未上架">未上架</option>
                </select>
            </div>
            <table style="background: #ffffff" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="40%">
                        商品名称
                    </th>
                    <th width="8%">
                        商品类别
                    </th>
                    <th width="8%">
                        商品价格
                    </th>
                    <th>
                        图片
                    </th>
                    <th width="8%">
                        状态
                    </th>
                    <th width="8%">
                        库存
                    </th>
                    <th width="15%">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 商品列表将动态生成 -->
                </tbody>
            </table>

            <!--上导航栏-->
            <!--<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>-->
        </div>
    </div>
</div>
</body>
</html>