<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "http://localhost:8080/commodity/commodityList",
                dataType: "json",
                type: "get",
                success: function (res) {
                    var data = res.data;
                    for (var i = 0; i < data.length; i++) {
                        $("table").append("<tr>" +
                            "<td>" + data[i].commodity_name + "</td>" +
                            "<td>" + data[i].class_name + "</td>" +
                            "<td>" + data[i].commodity_price + "</td>" +
                            "<td>" +
                            "<img height='50px' width='auto' src=" + data[i].commodity_img + "></img>" +
                            "</td>" +
                            "<td>" + data[i].commodity_status + "</td>" +
                            "<td>" + data[i].commodity_num + "</td>" +
                            "<td>" +
                            "<button style='width: 50%' onclick='upd(" + data[i].id + ")' class='btn btn-success btn-default'>修改</button>" +
                            "<button style='width: 50%' onclick='del(" + data[i].id + ")' class='btn btn-default btn-danger'>删除</button>" +
                            "</td>" +
                            "<td>"+
                            "<input type='checkbox'  name='email' id='delete_id' src="+data[i].id+">"+
                            "</td>"+
                            "</tr>")
                    }
                },
                error: function (ref) {

                }
            })
        })

        function add() {
            location.href = "http://localhost:8080/commodity/commodity_toAdd"
        }

        function upd(id) {
            location.href = "http://localhost:8080/commodity/commodity_toUpd?id=" + id;
        }

        function del(id) {
            location.href = "http://localhost:8080/commodity/commodity_del?id=" + id;
        }

        function filterStatus() {
            var status = $("#statusFilter").val();
            $("table tbody tr").each(function () {
                var rowStatus = $(this).find("td:eq(4)").text();
                if (status === "all" || rowStatus === status) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>

    <style>
        body{
            background-image: url("/static/img/background.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
    <SCRIPT>
        //  全选按钮和删除选中按钮功能
        /* 全选框全选和取消全选 */
        function selBtn(flag){

            if(flag>1){
                //大于0反选，等于自己本身选择状态取反
                let emails = document.getElementsByName("email");

                for (let email of emails) {

                }
            }else{
                //为0和1时直接赋给状态，js中0为false，除0外都为true
                let emails = document.getElementsByName("email");
                for (let email of emails) {
                    email.checked = flag;
                }
                let sels = document.getElementsByName("selAll");
                for (let selAll of sels) {
                    selAll.checked = flag;
                }
            }
        }
        function delSel(){
            var delUrl ="http://localhost:8080/commodity/delsel?ids=";
            var ids ="";
            //拿到要删除所有员工的id  $(".single_check:checked")表示选中框被选中的框
            $("#delete_id:checked").each(function(){
                //取出我们自定义的id    $(this)表示这全部选中的一个选中框
                ids=ids+$(this).attr("src")+",";
            });
            delUrl +=ids;
            location.href  = delUrl ;
        }

    </SCRIPT>
</head>
<body background="/img/background.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
<div id="background" style="position: absolute; z-index: -2">
    <canvas id="canvas"></canvas>
</div>
<script type="text/javascript" src="/static/js/GeometricBackground.js"></script>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button onclick="add()" type="button" class="btn btn-block btn-lg btn-info" style="margin-top: 5%">
                新增
            </button>
            <button type="button" class="btn btn-inverse btn-sm" onclick="selBtn(1)">全选</button>
            <button type="button" class="btn btn-inverse btn-sm" onclick="selBtn(0)">取消全选</button>
            <button type="button" class="btn btn-inverse btn-sm" onclick="delSel()">删除所选行</button>
            <div class="form-group">
                <label for="statusFilter" style="font-size: 15px;" class="label label-primary">筛选状态：</label>
                <select style="margin-top: 10px" id="statusFilter" class="form-control" onchange="filterStatus()">
                    <option value="all">全部</option>
                    <option value="已上架">已上架</option>
                    <option value="未上架">未上架</option>
                </select>
            </div>
            <table style="background: #ffffff" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="40%">
                        商品名称
                    </th>
                    <th width="8%">
                        商品类别
                    </th>
                    <th width="8%">
                        商品价格
                    </th>
                    <th>
                        图片
                    </th>
                    <th width="8%">
                        状态
                    </th>
                    <th width="8%">
                        库存
                    </th>
                    <th width="15%">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <!-- 商品列表将动态生成 -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>