<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function Login(){
            var n = document.getElementById("name").value;
            var p = document.getElementById("Password").value;
            if (n == "" || p == ""){
                alert("用户名和密码不能为空");
                return false;
            }
            //如果
            if ($("#remember").is(":checked")){
                setCookie();
            }
        }
    </script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--cookies-->
    <script>
        function setCookie() {
            var name = document.getElementById("name").value;
            var password = document.getElementById("Password").value;
            var remember = document.getElementById("remember").checked;

            // 设置cookie的过期时间，默认为7天
            var expires = 7;
            if (remember) {
                var date = new Date();
                date.setTime(date.getTime() + (expires * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }

            // 设置cookie的值，以便在之后的访问中自动填充用户名和密码
            document.cookie = "username=" + name + expires + "; path=/";
            document.cookie = "password=" + password + expires + "; path=/";
        }

        $(function getCookie() {
            var cookies = document.cookie.split(';');
            var cookieData = {};

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                var cookieName = cookie.split('=')[0];
                var cookieValue = cookie.split('=')[1];
                cookieData[cookieName] = cookieValue;
            }

            var username = cookieData["username"];
            var password = cookieData["password"];

            if (username && password) {
                document.getElementById("name").value = username;
                document.getElementById("Password").value = password;
            }
        })
    </script>

    <script type="text/javascript" src="/static/js/sakuraBackground.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <h3 class="text-center text-info" style="margin-top: 30%">登录</h3>
            <form class="form-horizontal" role="form" action="http://localhost:8080/user/login" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control" id="name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember" />记住新账户
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="return Login()" type="submit" class="btn btn-success">登录</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
</body>
</html>